{{#is "index"}}
    <h1 class="site-header-title">
        {{#if @site.logo}}
            <span class="site-header-logo"><img src="{{@site.logo}}" alt="{{@site.title}}" /></span>
        {{else}}
            <span class="site-header-logo">{{@site.title}}</span>
        {{/if}}
    </h1>
    {{#if @site.description}}
        <p class="site-header-desc">{{@site.description}}</p>
    {{/if}}
{{else}}
    <div class="site-header-title">
        {{#if @site.logo}}
            <a class="site-header-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
            <a class="site-header-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
{{/is}}