<ul class="nav" role="navigation">
    {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    {{#if @site.facebook}}
        <li class="nav-icon nav-facebook"><a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a></li>
    {{/if}}
    {{#if @site.twitter}}
        <li class="nav-icon nav-twitter"><a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a></li>
    {{/if}}
    {{#if @labs.subscribers}}
        <li class="nav-subs"><a href="#subscribe">Subscribe</a></li>
    {{else}}
        <li class="nav-icon nav-rss"><a class="social-link social-link-tw" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a></li>
    {{/if}}
</ul>