<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Meta }}
    <title>{{#unless post}}{{#if message}}{{message}} - {{@blog.title}}{{/if}}{{meta_title}}{{else}}{{meta_title}} - {{@blog.title}}{{/unless}}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="{{meta_description}}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hati.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto:400,700" rel="stylesheet">

    {{! Ghost Magic }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    {{{body}}}

    {{> footer}}

    {{! Ghost Footer Magic }}
    {{ghost_foot}}
</body>
</html>
