{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div class="inner">

    <div class="feed">
        {{!-- Get the 3 most recent posts --}}
        <div class="posts">
            <div class="posts-block">
                {{#get "posts" limit="3" include="tags"}}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
            <h2 class="posts-block-title">Latest posts</h2>
        </div>

        {{!-- Get up to 3 featured posts on each tag --}}
        {{#get "tags"}}
            {{#foreach tags}}
                <div class="posts tag—{{slug}}">
                    <a href="{{url}}" tab-index="0">
                        <div class="posts-block">
                            {{#get "posts" filter="tags:{{slug}}+featured:true" limit="3" }}
                                {{#foreach posts}}
                                    {{> "feature-post"}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                        <h2 class="posts-block-title">{{name}}</h2>
                        <p class="posts-block-desc">{{description}}</p>
                    </a>
                </div>
            {{/foreach}}
        {{/get}}

    </div>

</div>